
body * {
    font-family: 'Open Sans', sans-serif;
}
.header {
    max-width: 1900px;
    margin: 0 auto;
    padding-bottom: 49px;
    background-color: #F2F2F2;
}
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #313131;
}
.nav-bar-wrapper {
    display: flex;
}
.up-btn {
    cursor: pointer;
    width:50px; 
    height:90px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    bottom:65px;
    right:60px;
    display:none;
    background: url('images/arrow.png') no-repeat 0px 20px;
    background-position: center;
    background-size: contain;
}
.hide-btn {
    padding: 16px 29px 17px 30px; 
    background-color: #14B9D5;
    cursor: pointer;
    border: 0;
    margin: 10px;
    margin-left: 860px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.nav-bar {
    padding-left: 36px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
.nav-bar:hover {
    color: #14B9D5;
    cursor: pointer;
}
.logo {
    display: flex;
}
.logo-img {
   padding: 0 27px;
}
.logo-text {
    padding: 0 5px;
    font-size: 22px;
    color: white;
    font-weight: 700;
}
.search {
    background-color: #000;
    padding: 27px;
    color: white;
}
.search:hover {
    transition: 0.2s;
    font-size: 22px;
    padding: 24px;
}
.news-container {
    height: 369px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: no-repeat center 120% url("images/header-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.news-text {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    margin: 164px 0 44px 0;
}
.btn-container * {
    font-size: 18px;
    color: white;
    border: 0px;
    border-radius: 4px;
    margin: 0 10px;
    transition: all 0.5s;
}
.button-1 {
    padding: 16px 19px 17px 19px; 
    background-color: #89CA62;
    cursor: pointer;
}
.button-2 {
    padding: 16px 29px 17px 30px; 
    background-color: #14B9D5;
    cursor: pointer;
}
.btn-container * span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-container * span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn-container *:hover span {
    padding-right: 25px;
}
.btn-container *:hover span:after {
    opacity: 1;
    right: 0;
}
.button-1:hover {
    background: linear-gradient(90deg,#89CA62,#15c151);
}
.button-2:hover {
    background: linear-gradient(90deg,#14B9D5,#1751c3);
}
.choose-article-wrapper {
    margin-left: 30px;
    top: 180px;
    position: absolute;
}
.page-nav {
    margin-left: 30px;
    top: 140px;
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
}
.choose-article {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    color: white;
    cursor: pointer;
}
.choose-article:hover::after {
    content:'>';
    position: absolute;
    font-size: 30px;
    color: white;
    left: -22px;
}
.main {
    max-width: 1900px;
    margin: 0 auto;
}
.bg-color {
    background-color: #F2F2F2;
}
.section-1 {
    max-width: 1180px;
    margin: 0 auto;
}
.title {
    color: #14B9D5;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 52px;
}
.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}
.posts-wrapper > * {
    display: flex;
    flex-direction: column;
}
.post-container {
    margin-bottom: 32px;
}
.post-name {
    padding: 22px 39px;
    background-color: white;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.popular-clients {
    height: 341px;
    background: no-repeat url("images/parallax-bg.jpeg");
    background-position: 54%;
    background-size: contain;
    background-attachment: fixed;
    padding: 106px;
    margin-bottom: 51px;
}
.clients-title-container {
    margin-bottom: 196px;
}
.clients-title { 
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}
.clients-title::after {
    content:'';
    position: absolute;
    width: 60px;
    height: 3px;
    bottom: 0;
    left: 50%;
    background-color: #18B4CF;
    margin: 0px 0px -87px -25px;
}
.top-rated {
    margin-bottom: 48px;
}
.clients-logo {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-gap: 58px;
    justify-content: center;
    margin: 0 auto;
}
.top-rated-container {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-gap: 0px;
}
.section-2 {
    max-width: 1168px;
    margin: 0 auto;
    margin-bottom: 77px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 259px 418px 418px 259px; 
    grid-template-areas:    "a a a b"
                            "c c d d"
                            "f f g g"
                            "i m m m";
   row-gap: 42px ;
   column-gap: 35px;
}
.hot-news-elements-1{
    grid-area: a;
    display: flex;
}
.hot-news-elements-2{
    grid-area: b;
    width: 277px;
}
.hot-news-elements-3{
    grid-area: c;
}
.hot-news-elements-4{
    grid-area: d;
}
.hot-news-elements-5{
    grid-area: f;
}
.hot-news-elements-6{
    grid-area: g;
}
.hot-news-elements-7{
    grid-area: i;
    width: 277px;
}
.hot-news-elements-8{
    display: flex;
    grid-area: m;
}
.hot-news-title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.5px;
    color: #353A3D;
}
.hot-news-title-1, .hot-news-title-8 {
    text-align: right;
    padding: 41px 0 14.5px 31px;
}
.hot-news-title-2 {
    text-align: center;
    padding: 14px 0 11px 0;
}
.hot-news-title-3 {
    padding: 12px 0px 15px 0;
    text-align: right;
}
.hot-news-title-4,.hot-news-title-5,.hot-news-title-6 {
    text-align: right;
    padding: 14px 0 15px 0;
}
.hot-news-title-7 {
    text-align: center;
    padding: 5px 0 20px 0;
}
.hot-news-text {
    background-color: #F2F2F2;
}
.hot-news-text-4, .hot-news-text-5, .hot-news-text-6 {
    width: 540px;
    height: 159px;
    padding-right: 14px;
}
.hot-news-text-1, .hot-news-text-8 {
    width: 349px;
    padding-right: 24px;
}
.hot-news-text-3 {
    height: 159px;
    width: 540px;
    padding-right: 14px;
}
.hot-news-info {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hot-news-img-2,.hot-news-img-3,.hot-news-img-4,.hot-news-img-5,.hot-news-img-6,.hot-news-img-7 {
    display: block;
}
.footer {
    width: 1900px;
    margin: 0 auto;
    background-color:#000;
    display: grid;
    grid-template-columns: 520px 64px;
    grid-template-rows: 80px;
    justify-content: center;
    align-items: center;
    column-gap: 583px;
}
.footer-text {
    color: #fff;
    font-size: 13px;
    line-height: 13px;
}
.footer-logo{
    position: relative;
}
.footer-logo::before {
    content:'';
    width: 38px;
    height: 24px;
    display: block;
    background-image: url(images/Vector\ Smart\ Object\ copy\ 3.png);
    position: absolute;
    left: -40px;
}